<div class="block-section">
  <h2>Monthly Finances</h2>
  <ul>
    <li><a href="/incomes">Income:</a> <p>$<%= @incomes %></p></li>
    <li><a href="/expenses">Expenses:</a> <p>$<%= @expenses %></p></li>
    <li><h3>Cashflow:</h3> <p>$<%= @incomes - @expenses %></p></li>
  <ul>
</div>
<div class="block-section">
  <h2>Net Worth</h2>
  <ul>
    <li><a href="/assets">Total Assets:</a> <p>$<%= @assets %></p></li>
    <li><a href="/liabilities">Total Liabilities:</a> <p>$<%= @liabilities %></p></li>
    <li><h3>Net Worth:</h3> <p>$<%= @assets - @liabilities %></p></li>
  <ul>
</div>
<div class="last-section">
  <h2>Tax Information</h2>
  <h3>Status:</h3>
  <form action="/" method="get">
    <select name="status">
      <option value="pick">Pick One</option>
      <option value="single">Single</option>
      <option value="joint">Married Filing Jointly</option>
      <option value="separate">Married Filing Separately</option>
      <option value="head">Head of Household</option>
      <option value="widow">Widowed</option>
    </select>
    <input type="submit">
  </form>

  <h3 class="block"> Federal Tax Bracket:</h3>
  <p><%= (params[:status] && params[:status]!= 'pick') ? params[:status] : "Please pick a status." %></p>
</div>
