<div class="block-section">
  <h2>Monthly Finances</h2>
  <ul>
    <li><a href="/incomes">Incomes:</a> <p>$<%= add_commas(@incomes) %></p></li>
    <li><a href="/expenses">Expenses:</a> <p>$<%= add_commas(@expenses) %></p></li>
    <li><h3>Cashflow:</h3> <p>$<%= add_commas(@incomes - @expenses) %></p></li>
    <li><h3>Annual Gross Income:</h3> <p>$<%= add_commas(12 * (@incomes - @expenses)) %></p></li>
  <ul>
</div>

<div class="block-section">
  <h2>Nest Egg</h2>
  <ul>
    <li><a href="/assets">Total Assets:</a> <p>$<%= add_commas(@assets) %></p></li>
    <li><a href="/liabilities">Total Liabilities:</a> <p>$<%= add_commas(@liabilities) %></p></li>
    <li><h3>Net Worth:</h3> <p>$<%= add_commas(@assets - @liabilities) %></p></li>
  <ul>
</div>

<div class="last-section">
  <h2>Tax Information</h2>
  <h3>Status:</h3>
  <form class="brackets" action="/" method="get">
    <select name="status">
      <option value="pick">Pick One</option>
      <option value="single" <%= session[:single] %>>Single</option>
      <option value="joint" <%= session[:joint] %>>Married Filing Jointly</option>
      <option value="separate" <%= session[:separate] %>>Married Filing Separately</option>
      <option value="head" <%= session[:head] %>>Head of Household</option>
      <option value="widow" <%= session[:widow] %>>Widowed</option>
    </select>
  </form>

  <h3 class="block"> Federal Tax Bracket:</h3>
  <p><%= (params[:status] && params[:status]!= 'pick') ? @tax_bracket : "Please pick a status." %></p>
</div>

<% content_for :header_links do %>
  <h5 class="logo">Mint JR.</h5>
<% end %>

<% content_for :footer_signout do %>
  <form class="signout" action="users/signout" method="post">
    <label for="signout">Signed in as <%= @db.current_username %>.</label>
    <input type="submit" value="Sign Out">
  </form>
<% end %>
