<div class="incomes">
  <h2 class="category-name"><%= @page_name %></h2>
  <table>
    <tr>
      <th>Type</th>
      <th>Amount</th>
    </tr>
    <% @list.each do |item| %>
      <tr class="item">
        <td><%= item["name"] %></td>
        <td>$<%= item["amount"] %></td>
        <td>
          <form class="delete" action="/<%= @page_name.downcase %>/<%= item["id"] %>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
    <tr>
      <form action="/<%= @page_name.downcase %>/add" method="post">
        <td>
          <input name="type" placeholder="<%= @item_description %>" type="text" value="<%= params[:type] %>">
        </td>
        <td>
          <input name="amount" placeholder="100, 200, etc." type="text">
        </td>
        <td>
          <input type="submit" value="Add">
        </td>
      </form>
    </tr>
  </table>
</div>

<div class="total">
  <h3>Total: $<%= @total %></h3>
</div>

<% content_for :header_links do %>
  <a class="main" href="/">Back to Main Menu</a>
  <h5 class="logo">Mint JR.</h5>
<% end %>
